AMD64_OBJS=\
    amd64/init.o \
    amd64/common.o \
    amd64/gdt.o \
    amd64/paging.o

include amd64/asm/make.config
include amd64/boot/make.config
include amd64/interrupt/make.config

include devices/8259PIC/make.config
AMD64_OBJS += $(8259PIC_OBJS)

include devices/8254PIT/make.config
AMD64_OBJS += $(8254PIT_OBJS)

KERNEL_OBJS += $(AMD64_OBJS)